.main-container {

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    padding: 0;
    margin: 0;
    list-style: none;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}


.preferences-pane {
    zoom: 0.7;
    /*-moz-transform: scale(0.7);  !* zoom for Firefox *!*/
    /*-moz-transform-origin: 50% 0;  !* zoom for Firefox *!*/

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex: auto;

    flex-direction: row;
    -webkit-flex-direction: row;

    background: lightgrey;
    padding: 0;
    margin: 0;
}


.navigator-area {
    zoom: 0.7;
    /*-moz-transform: scale(0.7);  !* zoom for Firefox *!*/
    /*-moz-transform-origin: 0 0;  !* zoom for Firefox *!*/

    flex: auto;

    /*background: lightblue;*/
    overflow-x: auto

    /*padding: 5px;*/
    /*width: 200px;*/
    /*height: 150px;*/
    /*margin-top: 10px;*/

    /*line-height: 150px;*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*font-size: 3em;*/
    /*text-align: center;*/
}

.preference-control {

    /*background: yellowgreen;*/
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 0.4em;
    /*line-height: 150px;*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*font-size: 1em;*/
    /*text-align: center;*/
}

.checkbox{
    padding-right: 2em;

}



.preference-control-label:hover {
    user-select: none;
}

.bridge {
    /*border: 1px solid #000 !important;*/

    /*outline: 0.5px solid;*/
    /*outline-color: rgba(255
   , 255, 255, .5);*/
}

.category .rectangle {
    /*outline: 0.5px solid;*/
    /*outline-color: rgba(255, 255, 255, .5);*/
    transform-origin: 50% 50%;
}

.rectangle{
    cursor:pointer;
}

.category .rectangle:hover {
    /*filter:url("#glow");*/
    fill:darkred;
}

text:hover {
    user-select: none;
}